* {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}



body {
    background: url(../image/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black ;
    border: border-box;
    text-align: center;
}


#infocontainer {
    border-radius: 10px;
    padding: 10px;
    margin: 20px; 
}

img {
    max-height: 150px;
    max-width: 200px;
    width: 120px;
    height: 120px;

}

#title {
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    background: azure;
    margin: auto;
    font-size: 24px;
}

#locationName {
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    background: azure;
    margin: auto;
    font-size: 24px;
}

#currentcontainer {
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 400px;
    background: azure;
    margin: auto;
}

#weatherscontainer { 
    display: inline-block;
    width: 200px;
    height: 350px;
    background: azure;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}